<div class="hero">
    <div class="hero-profile">
        <img class="hero-profile-image" src="https://media-exp1.licdn.com/dms/image/C4D03AQE7V5WL7WdlFQ/profile-displayphoto-shrink_800_800/0/1549614367717?e=1646870400&v=beta&t=3p2Q0QcTzRte-ZeA1xWWBEhiHuUyJ_GlgePq_xMw6Wo"><img>
        <div class="hero-profile-description">
            <h1 class="hero-profile-name"> Mohamed Iheb Faiza</h1>
            <p class="hero-profile-title">Computer Science and Management Engineer</p>
            <a class="send-email" href="mailto:fmohamediheb@gmail.com">&#9993; Contact me</a>
        </div>
    </div>
</div>