<div class="skills">
  <h1><i class="fas fa-lightbulb"></i> Skills</h1>
  <h2>Programming Languages</h2>
  <ul>
    <li>Javascript (Node JS, Angular, React)</li>
    <li>C++, Java, Python, Scala</li>
    <li>HTML, CSS</li>
    <li>Oracle SQL, MongoDB</li>
  </ul>
  <h2>Tools</h2>
  <ul>
    <li>Git, SVN, Jenkins</li>
    <li>Google Suite, Office, Latex</li>
    <li>Photoshop, After Effects</li>
  </ul>
  <h2>Operating Systems</h2>
  <ul>
    <li>Linux</li>
    <li>Windows</li>
    <li>Mac OS</li>
  </ul>
  <h2>Languages</h2>
  <ul>
    <li>English</li>
    <li>French</li>
    <li>Arabic</li>
  </ul>
</div>