---
layout: default
---

<div class="projects">
  {%- if site.projects.size > 0 -%}
    <h1 class="page-heading">{{ page.list_title | default: "Projects" }}</h1>
    <!--<h2 class="post-list-heading">{{ page.list_title | default: "Projects" }}</h2>-->
    <ul class="post-list">
      {%- assign sorted = site.projects | sort: 'date' | reverse -%}
      {%- for post in sorted -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.emoji | escape }}
            {{ post.title | escape }}
          </a>
        </h2>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        <div style="margin-top: 10px;">
          {% for category in post.categories %}
            {% include category-tag.html category=category %}
          {% endfor %}
        </div>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
